{% extends 'layout.html' %}

{% block head %}
<title>Tasks Page</title>
{% endblock %}

{% block content %}
<div class="tasks">
    <h1>Tasks</h1>
    <div class="tasks_flex">
        {% for task in tasks %}
            <div class="tasks_card">
                
                <!-- Display more information for tasks here -->

                {% if task.completed == true %}
                    <div>This task was completed!</div>
                {% else %}
                    <form action="/tasks/{{task.id}}/complete" method="POST">
                        <input class="" type="submit" value="Mark Complete">
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}